* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(250, 9%, 20%);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#big {
  box-sizing: border-box;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  display: grid;
  padding: 15px;
  gap: 30px;
  grid-template: repeat(8, 1fr) / repeat(5, 1fr);
  position: relative;
}

.rect {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  outline: 2px solid hsl(250, 12%, 24%);
  background-color: hsl(250, 9%, 19%);
  transition: all 500ms 300ms;
}

.rect img {
  height: 100%;
  width: 25%;
  background-color: hsl(250, 10%, 21%);
  border: none;
  outline: none;
  object-fit: scale-down;
  transition: all 500ms 300ms;
}

#selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 12.5%;
  outline: 1px dotted hsl(220, 91%, 75%);
  box-sizing: border-box;
  box-shadow: 0px 0px 8px hsl(220, 50%, 44%), 0px 0px 4px hsl(220, 51%, 64%),
    inset 0px 0px 8px hsl(220, 50%, 44%), inset 0px 0px 4px hsl(220, 51%, 64%);
  border-radius: 4px;
  transition: all 500ms;
  opacity: 0.8;
}

.selected {
  background-color: hsl(250, 12%, 24%);
  outline: none;
}

.selected img {
  background-color: hsl(250, 14%, 28%);
}
